<div class="row nav">
   <div class="col-md-6 col-xl-6">
      <h3 class="title">STUDENTIA</h3>
   </div>
   <div class="col-md-6 col-xl-6">
      <ul>
       <li routerLink="/">Home</li>
       <li routerLink="/create-new">Create New Record</li>
       <li routerLink="/">View All Record</li>
      </ul>
    </div>
   </div>
   <div class="contain">
      
      <input type="text" id="search" placeholder="Search student..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"/><br>
   </div>
<div class="container">
    <!-- <div >   
       <button type="submit" id="submit" (click)="AddNew()">Add New Student </button>
 </div> -->
 <div class="row">
 <h3 class="lbl">List of Students</h3><hr>
    <table class="table table-borderless"> 
        <tr> 
           <th>S/N</th>  
           <th>Name</th>
           <th>Faculty</th>
           <th>Department</th>
           <th>Sex</th>
           <th>Level</th>
           
        </tr>

        <tr class="details" *ngFor='let student of students | filter: searchText; index as i' (click)='getstudentId(student._id)'>
         <td>{{i + 1}}.</td>     
         <td>{{student.first_name  | titlecase}} {{student.last_name  | titlecase}}</td>
               <td>{{student.faculty  | titlecase}}</td>
               <td>{{student.department  | titlecase}}</td>
               <td>{{student.sex | titlecase}}</td>
               <td>{{student.level}}</td>
       </tr> 
    </table>
   </div>
    <!-- <app-create-new *ngIf="isOpen" (closeModal) = "close()"></app-create-new> -->
   
   
</div>