.container{
  width: 100%;
background-color: white;
margin-top: 20px;
margin-left:auto;
border: 3px solid  rgb(14, 143, 126);
border-radius: 9px;
  padding-top:30px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 100%; 
}
h3.lbl{
  text-align: center;
  color: rgb(14, 143, 126);
}
 table{
    font-size: 20px;
    text-align: justify;
}
  tr.details:hover{
      background-color: rgb(14, 143, 126);
      color: white;
      cursor: pointer;
  } 
  .btn{
    border: 1px solid  rgb(14, 143, 126);
    padding: 80px;
    width: 100%;
    height: 90%;
    margin-left: -45px;
    border-radius: 10px;
    margin-bottom: 20px; 
}
.btn:hover{
    color: rgb(14, 143, 126);
}
#submit{
  border: 1px solid rgb(14, 143, 126);
}
.nav{
   background-color: rgb(14, 143, 126);
  padding: 10px;
  color: white;
}
.title{
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 20px;
  width: 22%;
  height:50px;
  text-align: center;
}

li{
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
}
li:hover{
  border: 1px solid rgb(186, 243, 235);
  border-radius: 10px;
  cursor: pointer;
}