<div class="row nav">
<div class="col-md-6 col-xl-6">
   <h3 class="title">STUDENTIA</h3>
</div>
<div class="col-md-6 col-xl-6">
   <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/create-new">Create New </li>
      <li routerLink="/">View All</li>
   </ul>
</div>
</div>
<div class="container">
    <!-- <div >   
       <button type="submit" id="submit" (click)="AddNew()">Add New Student </button>
 </div> -->
 <h3 class="lbl">List of Students</h3><br>
    <table class="table table-striped"> 
        <tr>    
           <th>Name</th>
           <th>Faculty</th>
           <th>Department</th>
           <th>Level</th>
           <th>Sex</th>
        </tr>

        <tr class="details" *ngFor='let student of students' (click)='getstudentId(student._id)'>
               <td>{{student.first_name}} {{student.last_name}}</td>
               <td>{{student.faculty}}</td>
               <td>{{student.department}}</td>
               <td>{{student.level}}</td>
               <td>{{student.sex}} </td>
       </tr> 
    </table>
    <!-- <app-create-new *ngIf="isOpen" (closeModal) = "close()"></app-create-new> -->
   
   
</div>