body{
  font-size: 20px;
}
.container{
    width: 50%;
background-color: white;
margin-left:auto;
border: 3px solid  rgb(14, 143, 126);
border-radius: 9px;
    padding-top:30px;
    padding-left:auto;
    padding-bottom: 30px;
    height: 100%; 
} 
   .name{
       margin-bottom: 20px;
   }
   .svg{
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
   
input{
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 0.8rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   margin-bottom: 10px;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  display: inline-block;
}
#submit{
    border: 1px solid  rgb(14, 143, 126);
    width: 25%;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px;
    margin-left: 7px;
    font-size: 20px; 
    color: grey;
    background-color: white;
}
#submit:hover{
    background-color:rgb(14, 143, 126);
    color:white
}

.nav{
    background-color: rgb(14, 143, 126);
   padding: 10px;
   color: white;
 }
 .title{
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 20px;
    width: 200px;
    height:50px;
    text-align: center;
  }
 li{
   display: inline-block;
   padding: 10px;
   margin-left: 20px;
   font-size: 15px;
 }
 li:hover{
   border: 1px solid rgb(186, 243, 235);
   border-radius: 10px;
       cursor: pointer;
 }
 h3.lbl{
    text-align: center;
    font-size: 16px;
    color: rgb(3, 3, 3);
    margin-top: 50px;
  }
  label{
    font-size: 15px;
  }
  select{
    font-size: 0.8rem;
  }