.container{
  width: 60%;
background-color: white;
margin-left:auto;
margin-top:15px;
border: 3px solid  rgb(14, 143, 126);
border-radius: 9px;
  padding-top:30px;
  padding-left:auto;
  padding-bottom: 30px;
  height: 100%; 
}
i{
  font-size:70px;
}
input{
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   margin-bottom: 10px;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  display: inline-block;
}
label{
  margin-top: 10px;
}
.nav{
    background-color: rgb(14, 143, 126);
   padding: 10px;
   color: white;
 }
 .title{
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 20px;
    width: 22%;
    height:50px;
    text-align: center;
  }
 
 li{
   display: inline-block;
   padding: 10px;
   margin-left: 20px;
   font-size: 20px;
 }
 li:hover{
   border: 1px solid rgb(186, 243, 235);
   border-radius: 10px;
       cursor: pointer;
 }
 #submit, #delete{
  border: 1px solid  rgb(14, 143, 126);
  width: 26%;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px; 
  color: grey;
  background-color: white;
}
#submit, #delete:hover{
  background-color:rgb(14, 143, 126);
  color:white
}
.svg{
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.svg:hover{
  color: rgb(14, 143, 126);
  cursor:pointer;
}
#submitt{
  border: 1px solid  rgb(14, 143, 126);
  width: 60%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 20px; 
  color: white;
  background-color:rgb(14, 143, 126);
  
}
#submitt:hover{
  background-color: white;
  color:rgb(14, 143, 126)
}
#delete{
  border: 1px solid  rgb(14, 143, 126);
  width: 20%;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px; 
  color: grey;
  background-color: white;
}
#delete:hover{
  background-color:rgb(14, 143, 126);
  color:white
}
label{
  font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
  font:20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

