<div class="row nav">
  <div class="col-md-6">
     <h3 class="title">STUDENTIA</h3>
  </div>
  <div class="col-md-6">
     <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/create-new">Create New Record</li>
      <li routerLink="/">View All Record</li>
     </ul>
  </div>
  </div>
<div class="container" >
   
  <div class="card">
    
       <div class="card-body">
        <form class="form-horizontal m-t-30" *ngIf="student && student.first_name">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3 style="color: rgb(14, 143, 126);">Student Record</h3><hr>
            <label for="name" id="identity">Name: <span>{{student.first_name}} {{student.last_name}}</span></label><br>
         <label for="name" id="faculty"> Faculty: <span>{{faculty}}</span> </label><br>

          <label for="name" id="department">Department:<span> {{student.department}}</span> </label><br>
        <label for="name" id="sex"> Sex: <span>{{student.sex}}</span></label><br>
        <label for="name" id="level">Level:<span> {{student.level}}</span> </label>
          
       
           <br><button type="submit" id="submit" (click)='ClickEdit()' *ngIf="showEdit"> Click to Edit</button>
          </div>
           
           
          <div class="col-sm-12 col-md-6" *ngIf="isOpen">
              <h3 style="text-align: center;color: rgb(14, 143, 126);">Edit Record</h3><hr>
              <div class="row">
                <div class="col-sm-12 col-md-6">
              <label for="first_name" id="first_name" >First Name: </label><br>
              <input type="text" id="first_name" placeholder="{{student.first_name}}" [(ngModel)]="student.first_name" [ngModelOptions]="{standalone: true}"/> <br>
              <label for="last_name" id="last_name" >Last Name: </label><br>
              <input type="text" id="last_name" placeholder="{{student.last_name}}" [(ngModel)]="student.last_name" [ngModelOptions]="{standalone: true}"/><br>
 
         <label for="faculty" id="faculty">Faculty:</label><br>
       
         <input type="text" id="faculty" placeholder="{{student.faculty}}" [(ngModel)]="student.faculty" [ngModelOptions]="{standalone: true}"/><br>
         </div>
        <div class="col-sm-12 col-md-6"> 
          <label for="department" id="department"> Department:</label><br>
          <input type="text" id="department" placeholder="{{student.department}}" [(ngModel)]="student.department" [ngModelOptions]="{standalone: true}"/><br>
        <label for="sex" id="sex"> Sex:</label><br>
          <input type="text" id="sex" placeholder="{{student.sex}}" [(ngModel)]="student.sex" [ngModelOptions]="{standalone: true}"/><br>
           
        <label for="level" id="level"> Level:</label><br>
          <input type="text" id="level" placeholder="{{student.level}}" [(ngModel)]="student.level" [ngModelOptions]="{standalone: true}"/><br>
         <div><br>
            </div>
                    <button type="submit" id="submitt" (click)='EditStudent()'> Save Details</button>
                </div>
              </div>
          </div>
        </div>
          <br>
          <button type="submit"id="delete" (click)='delById()'>Delete Record</button>
            <div >

             </div>
                
        
                  
                   
                          