<div class="row nav">
  <div class="col-md-6">
     <h3 class="title">STUDENTIA</h3>
  </div>
  <div class="col-md-6">
     <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/create-new">Create New Record</li>
      <li routerLink="/">View All Record</li>
     </ul>
  </div>
  </div>
<div class="container" >
  
  <div class="card">
    <div>{{ htmlStr }}</div>
       <div class="card-body">
        <form class="form-horizontal m-t-30" *ngIf="student && student.first_name">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3 style="color: rgb(14, 143, 126);">Student Record</h3><hr>
            <label for="name" id="identity">Name: <span>{{student.first_name | titlecase}} {{student.last_name | titlecase}}</span></label><br>
         <label for="name" id="faculty"> Faculty: <span>{{faculty | titlecase}}</span> </label><br>

          <label for="name" id="department">Department:<span> {{student.department | titlecase}}</span> </label><br>
        <label for="name" id="sex"> Sex: <span>{{student.sex}}</span></label><br>
        <label for="name" id="level">Level:<span> {{student.level}}</span> </label>
          <br>
       
          </div>
           
           
          <div class="col-sm-12 col-md-6" *ngIf="isOpen">
              <h3 style="text-align: center;color: rgb(14, 143, 126);">Edit Record</h3><hr>
              <div class="row">
                <div class="col-sm-12 col-md-6">
              <label for="first_name" id="first_name" >First Name: </label><br>
              <input type="text" id="first_name" placeholder="{{student.first_name}}" [(ngModel)]="student.first_name" [ngModelOptions]="{standalone: true}"/> <br>
              <label for="last_name" id="last_name" >Last Name: </label>
              <input type="text" id="last_name" placeholder="{{student.last_name}}" [(ngModel)]="student.last_name" [ngModelOptions]="{standalone: true}"/><br>
 
         <label for="faculty" id="faculty">Faculty:</label><br>
       
         <input type="text" id="faculty" placeholder="{{student.faculty}}" [(ngModel)]="student.faculty" [ngModelOptions]="{standalone: true}"/><br>
         </div>
        <div class="col-sm-12 col-md-6"> 
          <label for="department" id="department"> Department:</label><br>
          <input type="text" id="department" placeholder="{{student.department}}" [(ngModel)]="student.department" [ngModelOptions]="{standalone: true}"/><br>
        <label for="sex" id="sex"> Sex:</label><br>
        <select class="form-select" [(ngModel)]="student.sex" [ngModelOptions]="{standalone: true}">
          <option>Male</option>
          <option>Female</option>
      </select>
         <label for="level" id="level"> Level:</label><br>
        <select [(ngModel)]="student.level" [ngModelOptions]="{standalone: true}" class="form-select">
          <option>100</option>
          <option>200</option>
          <option>300</option>
          <option>400</option>
          <option>500</option>
      </select>
         <div><br>
            </div>
                    <button type="submit" id="submitt" (click)='EditStudent()'> Save Details</button>
                </div>
              </div>
          </div>
        </div>
          <br>
          <div class="col-sm-12">
            <svg xmlns="http://www.w3.org/2000/svg" (click)='ClickEdit()' *ngIf="showEdit" fill="currentColor" class="bi bi-pencil-square svg" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" (click)='delById()'fill="currentColor" class="bi bi-trash svg" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </div> 
            <div >

             </div>
                
        
                  
                   
                          